<?xml version="1.0"?>
<!--
/**
 * Copyright © 2015 Magento. All rights reserved.
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="../../../Config/etc/system_file.xsd">
    <system>
        <section id="payment">
            <group id="securestandardpayment" translate="label" type="text" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Secure Ebs Standard Payment Method</label>
                <!--label>Secure EBS Payment Method</label>-->

				<field id="active" translate="label" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Enabled</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="title" translate="label" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Title</label>
                </field>				

				<field id="account_id" translate="label" type="text" sortOrder="13" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Account ID</label>
                </field>

				<field id="secret_key" translate="label" type="text" sortOrder="14" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Secret Key</label>
                </field>

				<field id="mode" translate="label" type="select" sortOrder="15" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Transaction Mode</label>
                    <source_model>Ebs\Payment\Model\Config\Mode</source_model>
                </field>

				<field id="page_id" translate="label" type="text" sortOrder="16" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Page ID</label>
				</field>
				
				<field id="hash_type" translate="label" type="select" sortOrder="17" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>Hash Type</label>
                    <source_model>Ebs\Payment\Model\Config\Hashtype</source_model>
                </field>
				
				<field id="description" translate="label comment" type="text" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Transaction Description</label>
					<comment>Order number will be used if left empty</comment>
				</field>

				<field id="currency" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Accepted Currency</label>
                    <source_model>Magento\Config\Model\Config\Source\Locale\Currency</source_model>
                </field>

				<field id="language" translate="label" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Customer Interface language</label>
                    <source_model>Ebs\Payment\Model\Config\Language</source_model>
                </field>
				
				<field id="debug_flag" translate="label" type="select" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Debug</label>
					<source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
				</field>

				<field id="order_status" translate="label" type="select" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="0">
                    <label>New Order Status</label>
                    <source_model>Magento\Sales\Model\Config\Source\Order\Status\Newprocessing</source_model>
                </field>

				<field id="allowspecific" translate="label" type="allowspecific" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment from Applicable Countries</label>
					<source_model>Magento\Payment\Model\Config\Source\Allspecificcountries</source_model>
				</field>

				<field id="specificcountry" translate="label" type="multiselect" sortOrder="11" showInDefault="1" showInWebsite="1" showInStore="1">
					<label>Payment from Specific Countries</label>
					<source_model>Magento\Directory\Model\Config\Source\Country</source_model>
					<can_be_empty>1</can_be_empty>
				</field>
		
				<field id="sort_order" translate="label" type="text" sortOrder="12" showInDefault="1" showInWebsite="1" showInStore="0">
					<label>Sort Order</label>
					<frontend_class>validate-number</frontend_class>
				</field>
			
            </group>
        </section>
    </system>
</config>
